<html>
  <head>
    <title>Ninjstar</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="application.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>